.nav-links {
  margin-top: 10px;
}

.sidebar-desktop {
  display: none;
}

/* Sidebar Desktop */
@media (min-width: 768px) {
  .sidebar-desktop {
    display: flex;
    flex-direction: column;
    width: 240px;
    padding: 40px 16px;
    position: relative;
    overflow: hidden;
    background-color: #0e0e0e;
    border: 2px solid #1a1a1a;
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.5);
  }

  .sidebar-desktop::before {
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: linear-gradient(45deg, #111, #000);
    background-size: 400% 400%;
    animation: gradientMove 15s ease infinite alternate;
    z-index: -1;
    opacity: 0.3;
  }

  @keyframes gradientMove {
    0% {
      transform: translate(-20%, -20%);
    }
    100% {
      transform: translate(20%, 20%);
    }
  }
}

/* Mobile Sidebar */

.mobile-menu {
  position: absolute;
  width: 50%;
  top: 0;
  height: 100vh;
  background-position: center;
  backdrop-filter: blur(20px);
  z-index: 10;
  padding: 24px;
  transition: left 0.4s ease;
  left: -100%;
}

.mobile-menu.open {
  left: 0;
}



/* Стили для иконок */
.icon {
  width: 24px;
  height: 24px;
  margin-right: 8px; 
}





@media (min-width: 768px) {
  .burger {
    display: none;
  }

  .sidebar-desktop {
    display: flex;
  }

  .nav-links {
    margin-top: 30px;
  }
}

.nav-link {
  display: flex;
  align-items: center;
  gap: 6px;
  margin: 20px 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  transition: color 0.3s;
}

.nav-link:hover {
  color: rgb(120, 121, 121);
}

.nav-link:focus,
.nav-link:active {
  color: rgb(22, 152, 152);
  opacity: 1;
}

.burger {
  position: absolute;
  display: block;
  top: 6px;
  right: 3px;
}

.close-line,
.open-line {
  width: 24px;
  height: 24px;
  color: white;
  margin-right: 2px;
}

.logo-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.logo {
  width: 50px;
  height: auto;
  margin-right: 12px;
}

.logo-text {
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  filter: brightness(80%);
}

@media (min-width: 768px) {
  .burger {
    display: none;
  }

  .sidebar-desktop {
    display: flex;
  }

  .nav-links {
    margin-top: 30px;
  }
}

a.nav-link{
  margin-top: 40px;
}

.mobile-menu.open{
  display: flex;
  flex-direction: column;

  padding: 40px 16px;

  overflow: hidden;
  background-color: #0e0e0e;
  border: 2px solid #1a1a1a;
  box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.5);
}