.nav-links {
  margin-top: 10;
}

.nav-link {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 32px 0;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  color: rgb(156 163 175);
}

.sidebar-desktop {
  display: none;
}
/* Sidebar Desktop */
@media (min-width: 768px) {
  .sidebar-desktop {
    display: flex;
    flex-direction: column;
    width: 240px;
    padding: 40px 16px;
   background: url("../../assets/121806.jpg");
    background-position: center;
  }
}


/* Mobile Sidebar */

.mobile-menu {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 66.666%; 
  background: url("../../assets/121806.jpg");
  background-position: center;
  backdrop-filter: blur(20px);
  z-index: 10;
  padding: 24px;
  transition: left 0.3s ease; 
  left: -100%; 
}

.mobile-menu.open {
  left: 0;
}

.logo {
  width: 100%;
  height: 80px; 
  object-fit: contain;
}
