@tailwind base;
@tailwind components;
@tailwind utilities;

/* Active Navigation Link */
.active {
  @apply text-cyan-500;
}

.active svg {
  @apply text-cyan-500;
}

.smooth-transition {
  transition: all 0.3s ease-in-out;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* App Background style */

.content {
  display: flex;
  flex-direction: column;
  flex: 1 1;
  background: url("./assets/121806.png");
  background-size: cover;
}

html,
body {
  min-width: 320px;
}
